---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectOverview.html
multisequence: one
---	

<div class="container">
	<h1>Project Overview</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>What is BuddyUp?</h3>
		<p class="longText">
			 BuddyUp is a prototype concept for a live help service that provides instant, personalized support to Firefox OS users via chat, screen sharing and remotely controlling the user’s device.
		</p>

		<h3>Why this is important</h3>
		<ul class="longText">
		 	<li>Differentiates from Android support. Instead of explaining a solution, show me how to solve my problem through screen sharing.</li>
		 	<li>Builds on Mozilla’s community-driven support model to create a large-scale peer-to-peer service that reduces support costs for carriers.</li>
		</ul>

		<h3>How it Works</h3>
		<ul class="longText">
		 	<li>BuddyUp connects a Firefox OS user with a Helper.</li>
		 	<li>User can grant Helper permission to view their screen and remotely control their device</li>
		 	<li>Helper shows user how to resolve the problem the user is having on device</li>
		</ul>
			<p class="longText">
			 Watch the demo: <a ref>https://www.youtube.com/watch?v=V4--f8G8DAs&feature=youtu.be</a>
		</p>

		<h3>Who are the Helpers?</h3>
		<ul class="longText">
		 	<li>You can get help from someone in your contacts, a carrier support agent, or a Firefox OS community member</li>
		 	<li>The Helper can be on any device that has a browser including desktops on Android devices.</li>
		 	<li>Helpers only have certain privileges on the device. For example, they cannot install apps on the device.</li>

	
		
	</div>
	
		
