---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectCompetitiveAnalysis.html
multisequence: eight
---	

<div class="container">
	
	<h1>Competitive Analysis</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>Other mobile Live Help solutions</h3>

		<p><b>Amazon Mayday</b></p>
		<p class="longText">

		</p>
		
		<p><b>How we can differentiate</b></p>
		<p class="longText">

		</p>
		<ul>
			<li>Allow users to get help from friends and family rather than or in addition to support agents.</li>
		  	<li>Provide support via volunteer community members who are compensated with data credits or other rewards and recognition.</li>
			<li>Open up the ability to screen share and remotely control the mobile device to use cases beyond just live help, for example, co-browsing photos or playing a game together.</li>
			<li>Allow helper to remotely control the device in addition to annotating on screen.</li>
		</ul> 
	</div>
	
