---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectUserTesting.html
multisequence: six
---	

<div class="container">
	<h1>User Testing</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

		<h3>User Testing</h3>

		<p class="longText">
		With a working prototype in hand we could now test the prototype with real users and understand if being connected to a helper via the BuddyUp app could help the user could resolve an issue on their phone. We schedule two days of user testing with seven participants in Portland, Oregon. We recruited for a mix of mobile device users but were particularly looking for participants with a feature phone. Three of the seven participants were feature phone users.
		</p>
		
		<p><b>Key Findings</b></p>
		<ul class="longText">
			<li>All participants were able to complete the task assigned using the Live Help app.</li>
			<li>Chatting with the Helper via text was slow.</li>
			<li>Most participants asked if voice could be made available.</li>
			<li>Participants were not sure if the Helper was a real person or an automated system.</li>
			<li>Participants had concerns about how much access the Helper had to their device and their data.</li>
		</ul>

		<p><b>Design Recommendations</b></p>
		<ul class="longText">
			<li>Investigate using voice to communicate rather than, or an addition, to text.</li>
			<li>The granting of permission to screen share and control the device needs to be informative and explicit so the person requesting help understands what access the Helper has to their device and data.</li>
			<li>Humanize the Helper (for example, providing a bio or profile of the user) so that there is no ambiguity that the Helper is a real person.</li>
			<li>Improve the Helper app so it is easier to use.</li>
		</ul>
		
		<p>Link to full report: <a href="https://docs.google.com/a/mozilla.com/document/d/1XtdotElWsY-K4KPIDYxxs5nKwJDes6tz6yN2NozlAxk/edit">https://docs.google.com/a/mozilla.com/document/d/1XtdotElWsY-K4KPIDYxxs5nKwJDes6tz6yN2NozlAxk/edit</a></p>

	</div>

