---

layout: MarketplaceUXSpec
multipage: true
multiURL: projectDesignDirections.html
multisequence: nine
---	

<div class="container">
	<h1>Design Directions</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

		<h3>Design Directions</h3>
		<p class="longText">After the prototype and results of user testing the SUMO team and the Firefox OS team discussed the following design directions</p>
		
		<ul class="longText">
			<li><i>Live Help App</i> - Build a live help app within the settings app where users can contact community members or operator support agents for help.</li>
				<ul class="longText">
					<li>Pros: Trained community members and operator support agents can give more expert advice vs. friends/family</li>
					<li>Cons: Difficulty in having enough community members/agents available in real-time to answer support requests, Scope of work to integrate with operator support systems, Not open enough for use cases outside of support</li>
				</ul>
			
			<li><i>Feature of Loop</i> - Incorporate screen sharing into Loop so that users can contact friends and contacts for help or other use cases.</li>
			<li><i>Screen sharing app</i> - Building a screen sharing only app that would allow users to use screen sharing for a variety of use cases including help</li>
		</ul>
		
		<p><b>"Mayday in real life"</b></p>
		<p><b>"Support YouTube Channel"</b></p>
		
	</div>
