---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectBackground.html
multisequence: three
---	

<div class="container">
	<h1>Project Background</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>Background</h3>

		<p class="longText">
		The SUMO team have been working on a concept for a live support help system for Firefox OS for over nine months. The Support team had several asynchronous ways of supporting Firefox OS users through a user guides, forums, etc. but believed that a live help solution would lead to higher satisfaction and resolution rates than asynchronous methods.
		</p>

		<p class="longText">The team had a functional specification (link) and executive summary (link). Some of the basic requirements for the service that they had come up with were:</p>
		<ul class="longText">
			
			<li>Real-time communication via chat</li>
			<li>Ability to trouble shoot the user's issue by showing the user how to resolve their issue (rather than telling)*</li>
			<li>Ability for community members to provide help to users</li>
		</ul>

		<p class="longText">
		<i>*For the last year Michelle Luna, Mobile & Firefox OS Support Manager, has helped her parents troubleshoot the Firefox OS phones they use as their primary mobile devices. Michelle realized that when she showed her parent how to do something on the phone her parent's ability to understand the issue and resolve it for themselves was much higher.
		</i>
		</p>

	<h3>Prior Art </h3>

		<p><b>MWC demo prototype</b></p>
		<p class="longText">
		 Aubrey Anderson developed a prototype for MWC that allowed, through touch events, one Firefox OS device to control one or more other Firefox OS devices. At MWC a presenter could use their Firefox OS device to give a walkthrough and demo of the operating system to people with devices at the booth. A touch event on the controller’s phone triggered a touch event on the controlled phones. The controller could not see the other users’ screens. The MWC prototype was the starting point for the BuddyUp prototype and incorporates part of its codebase.
		</p>

		<p></p><b>TogetherJS</b></p>
		<p class="longText">
		 TogetherJS (https://togetherjs.com/) was a product built by the Mozilla Labs team. With TogetherJS a developer adds a javascript library and HTML snippet to their website that allow users to collaborate on the website in real time. One user invites one or more other people to the site by sharing the url of the site. The users can view the website together, see each other’s cursors and also use chat to communicate.
		 </p>
		
		 
	<h3>Firefox OS Support</h3>

		<p class="longText">
		 There are several ways that Firefox OS users can receive support for their phone.
		</p>

		<ul class="longText">
			
			<li><i>User Guide</i> - The user guide is a mobile-optimized version of support.mozilla.org with Firefox OS help articles. It can be accessed through the “Help” section on the “Settings” app on Firefox OS. It is also available as an app in the Marketplace.</li>
			<li><i>Forums</i> - Users can sign-in with a support.mozilla.org account (verified through their email) to ask a question on the FxOS help forum. The help forum is labeled as a 'get community support' option in the Firefox OS user guide.</li>
			<li><i>Feedback</i> - In the “Settings” app there is a “Feedback” screen with a simple form to submit feedback on Firefox OS. A lot of questions about Firefox OS are submitted through this form.</li>
			<li><i>Operators</i> - Operators provide their own support on the phone via their in-country call-centers. So, users can call to ask questions about the phone and an agent will helps them in their language (mostly with billing and network questions). If they have a how-to question, they might refer them to the user guide/support.mozilla.org. If there is a hardware question, they will refer them to the OEM.</li>
			
		</ul>
		
		<p><b>Problems with current support</b></p>
	
		<ul class="longText">
			
			<li>Articles in user guide cannot address specific context and issue the user is having. Satisfaction rates from articles on Firefox desktop is 70%, but the exit survey on support.mozilla.org which asks if the user got an answer to their question is only 50%.</li>
			<li>The forums requires sign in and has high drop-out rate. More questions are submitted through the “Feedback” form in the “Settings” app since no sign-in is required.</li>
			<li>Users on the forum often don't return to give us more information so that we can help to solve their issue. Only a fraction of original posters that returns to say their problem was solved or to give us more details so we can help them.</li>
			<li>Operator call-centers are a major expense for operators. Operator agents do not have Firefox OS devices which can make answering support issues more difficult.</li>
			
		</ul>

		
	</div>
	
