---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectPrinciples.html
multisequence: four
---	

<div class="container">
	<h1>Design Principles</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>Design Principles</h3>

		<ul class="longText">

			<li><b>Show don’t tell.</b> Demonstrating something to the user on their own device rather than simply telling the user what to do helps resolve the user’s problem more quickly and allows the user to learn how to do it on their own.</li>

			<li><b>Need to feel safe and in control.</b> The person being helped needs to know what is being shared and who has control of their device. The user needs to be able to stop the screen sharing and control of device at any time.</li>

			<li><b>Consumer like experience for helpers.</b> Because the helpers might be community members, the helper interface needs to be like a consumer app rather than an administrative app that an IT professional would use to remote share and control another person’s device.</li>

		</ul>

		
	</div>
