---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectCompetitiveAnalysis.html
multisequence: eight
---	

<div class="container">
	
	<h1>Competitive Analysis</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>Other mobile Live Help solutions</h3>

		<p><b>Amazon Mayday</b></p>
		<p class="longText">
		<iframe width="560" height="315" src="//www.youtube.com/embed/beIky1mV3eQ" frameborder="0" allowfullscreen></iframe>
		</p>
		
			<ul>
			<li><i>Flow</i> - on Kindle or Amazon Fire Phone user taps on mayday button in quick settings and a FaceTime-like call is initiated with Amazon service person (<a href="http://www.amazon.com/gp/help/customer/display.html?nodeId=201349900">article</a>)</li>
		  	<li><i>Experience</i> - Agent can annotate screen but cannot control the user's device expect to move the FaceTime-like video box</li>
			<li><i>Response Time</i> - Time to connect to a representative is 9.57 seconds (<a href="http://www.techtimes.com/articles/8557/20140617/amazon-mayday-response-time-is-9-75-seconds-bad-news-for-kindle-fire-hdx-rivals.htm">article</a>)</li>
			<li>75% of questions from Kindle Fire customers come in through Mayday</li>
			<li><i>Other Use Cases</i> - Amazon agents have been asked questions beyond support including getting through an Angry Birds level, 109 requests from customers needing assistance with ordering a pizza, 3 customer requests for a bedtime story (<a href="http://www.businessinsider.com/amazons-mayday-button-hilarious-uses-2014-6#ixzz37Suy574v">article</a>)</li>
			<li><i>Availability</i> - Amazon Fire Phone only available in US with one carrier (AT&T)</li>
 				<ul>
					<li>Problematic when fastest growing segment of cell phone market is non-premium market (<a href="http://www.bloomberg.com/news/2014-06-18/why-amazon-s-fire-phone-won-t-set-the-world-ablaze.html">article</a>)</li>
					<li>Amazon is in talks with several European companies, including Vodafone of Britain and Telefónica of Spain to sell the phone in Europe (<a href="http://bits.blogs.nytimes.com/2014/06/19/amazon-phone-may-be-a-tough-sell-in-europe-when-it-arrives/?_php=true&_type=blogs&_r=0">article</a>)</li>
				</ul>
			<li><i>Impact on Sales</i> - Unclear if Mayday has helped the tablet's sales. Amazon's share of the tablet market was down by 1.8 percent, to 4.8 percent, over the last year (<a href="http://www.cnet.com/news/amazon-reveals-craziest-mayday-customer-support-calls/">article</a>)</li>
			</ul>
		<br>
		<p><b>How we can differentiate</b></p>
		<p class="longText">

		</p>
		<ul>
			<li>Allow users to get help from friends and family rather than or in addition to support agents.</li>
		  	<li>Provide support via volunteer community members who are compensated with data credits or other rewards and recognition.</li>
			<li>Open up the ability to screen share and remotely control the mobile device to use cases beyond just live help, for example, co-browsing photos or playing a game together.</li>
			<li>Allow helper to remotely control the device in addition to annotating on screen.</li>
		</ul> 
	</div>
	
