<!-- DONT FORGET TO ADD "multiURL" and "multisequence" tags to the page you're working with. Also change multipage to "true". -->

<ul class="pagination col-sm-6 col-md-4 col-lg-4">		

<!-- This part deals with disabled state of the BACK arrow. Disabled state is for the FIRST page of the multi pages. -->
{% if page.multiURL == "projectOverview.html" %}
	<li class="disabled"><a href="#">&laquo;</a></li>

<!--  This part deals with the enabled state of the BACK arrow. The FIRST page is not included in this section b/c its included in the DISABLED state above. REMEMBER that the BACK arrow links to PREVIOUS page URLs. -->
{% else %}
	<li>
		{% if page.multisequence == 'two' %}
			<a href="projectOverview.html">
		{% elsif page.multisequence == 'three' %}
			<a href="projectGoals.html">
		{% elsif page.multisequence == 'four' %}
			<a href="projectBackground.html">
		{% elsif page.multisequence == 'five' %}
			<a href="projectPrinciples.html">
		{% elsif page.multisequence == 'six' %}
			<a href="projectPrototype.html">
		{% elsif page.multisequence == 'seven' %}
			<a href="projectUserTesting.html">				
		{% elsif page.multisequence == 'eight' %}
			<a href="projectCompetitiveAnalysis.html">
		{% elsif page.multisequence == 'nine' %}
			<a href="projectDesignDirections.html">
				
		{% endif %}
		
		&laquo;</a>
	</li>
{% endif %}

<!-- This part deals with the MIDDLE pages (not FIRST or LAST) of the multi page navigation. -->
		<li {% if page.multiURL == 'projectOverview.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectOverview.html">1</a></li>
		
		<li {% if page.multiURL == 'projectGoals.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectGoals.html">2</a></li>
		
		<li {% if page.multiURL == 'projectBackground.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectBackground.html">3</a></li>

		<li {% if page.multiURL == 'projectPrinciples.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectPrinciples.html">4</a></li>
		
		<li {% if page.multiURL == 'projectPrototype.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectPrototype.html">5</a></li>

		<li {% if page.multiURL == 'projectUserTesting.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectUserTesting.html">6</a></li>

		<li {% if page.multiURL == 'projectCompetitveAnalysis.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectCompetitiveAnalysis.html">7</a></li>

		<li {% if page.multiURL == 'projectDesignDirections.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectDesignDirections.html">8</a></li>

<!-- This part deals with disabled state of the FORWARD arrow. Disabled state is for the LAST page of the multi pages. -->
{% if page.multiURL == "projectIA.html" %}
	<li class="disabled"><a href="#">&raquo;</a></li>

<!--  This part deals with the enabled state of the FORWARD arrow. The LAST page is not included in this section b/c its included in the DISABLED state above.  REMEMBER that the FORWARD arrow links to NEXT page URLs. -->
{% else %}
	<li>
		{% if page.multisequence == 'one' %}
			<a href="projectGoals.html">
		{% elsif page.multisequence == 'two' %}
			<a href="projectBackground.html">
		{% elsif page.multisequence == 'three' %}
			<a href="projectPrinciples.html">
		{% elsif page.multisequence == 'four' %}
			<a href="projectPrototype.html">
		{% elsif page.multisequence == 'five' %}
			<a href="projectUserTesting.html">
		{% elsif page.multisequence == 'six' %}
			<a href="projectCompetitiveAnalysis.html">				
		{% elsif page.multisequence == 'seven' %}
			<a href="projectDesignDirections.html">					
		{% endif %}
		
		&raquo;</a>
	</li>
{% endif %}

</ul>
